@import '~bootstrap/dist/css/bootstrap';
@import '~flag-icon-css/css/flag-icons';
@import '~bootstrap-icons/font/bootstrap-icons';

.background{
    background-color: #FFFFFF;
    /*  03363D
        979797
        E9E9E9 */
}

.backgroundNavbar{
    background-color: #042240;
}

.navText{
    color: #FFFFFF ;
}

.backgroundCard{
    background-color: /* #083057 */ #89CAF0;
}


.loginColor{
    color: #32D6C9 ;
}

.textCard{
    color: #042240;
}

.h1Color{
    color: #ffffff ;
}

.VERY_UNLIKELY{
    color: greenyellow;
}

.UNLIKELY{
    color: green;
}

.POSSIBLE{
    color: orange;
}

.LIKELY{
    color: orangered;
}

.VERY_LIKELY{
    color: red;
}

.UNKNOWN{
    color: gray;
}